//---------------------------------------
// PATRONES DE COLORES
//---------------------------------------
$primario: rgba(51, 51, 51,1);
// $secundario: rgb(255,222,89);
$secundario: rgb(3,152,158);
$texto: rgb(255,255,255);
$azul: rgb(82,190,255);
$rojo: rgb(255,158,156);
$verde: rgb(167,228,141);
$amarillo: rgb(255,228,125);
$rosa: rgb(255,187,185);
$gris: rgb(84,84,84);
$negro: rgb(0,0,0);
$plata: rgb(247,248,249);
$whats: rgb(37,211,102);
$face:rgb(59,89,152);
$fondo: #fefffe;
$plateado:#909497;
@font-face {
  font-family: "Cerebri Sans Book";
  src: local("Cerebri Sans Book"),
  url("~@/assets/fonts/Cerebri Sans Book.ttf") format('truetype');
}


/*----------------------------------------
1. TIPOGRAFIA DEL SITIO
-----------------------------------------*/

body{
  font-family: "Cerebri Sans Book", sans-serif;
}

html {
    font-size: 13px;
    height: 100%;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

.fixed-top{
  z-index: 1100!important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  color: $texto !important;
  text-decoration: none;
}
.color-plata{
  color: $plata !important;
}

.color-negro{
  color: $negro!important;
}

.color-primario{
  color: $primario !important;
}

.color-secundario{
  color: $secundario !important;
}

.color-azul{
  color: $azul !important;
}

.color-rojo{
  color: $rojo !important;
}

.color-verde{
  color: $verde !important;
}

.color-amarillo{
  color: $amarillo !important;
}

.color-rosa{
  color: $rosa !important;
}

.color-gris{
  color: $gris !important;
}

.color-plata{
  color: $plata !important;
}

.color-whats{
  color: $whats !important;
}

.color-face{
  color: $face !important;
}

.bg-primario{
  background-color: $primario !important;
}

.bg-secundario{
  background-color: $secundario !important;
}

.bg-azul{
  background-color: $azul !important;
}

.bg-rojo{
  background-color: $rojo !important;
}

.bg-verde{
  background-color: $verde !important;
}

.bg-amarillo{
  background-color: $amarillo !important;
}

.bg-rosa{
  background-color: $rosa !important;
}

.bg-gris{
  background-color: $gris !important;
}

.bg-plata{
  background-color: $plata !important;
}


.bg-fondo{
  background-color: $fondo !important;
}

.bg-hero{
  background-color: rgba($color: $plata, $alpha: .6);
  box-shadow: darken($color: $plata, $amount: 10%);
}

.bg-valores{
  background-color: rgba($color: $secundario, $alpha: .6);
  //box-shadow: 20px 1px 10px rgba($amarillo,.4);
 
}


.bg-filter {
  backdrop-filter: saturate(200%) blur(20px);
  background-color: rgba($color: white, $alpha: 0.90);
  box-shadow: darken($color: white, $amount: 10%);
  min-height: 75px;
}

.bg-filter-flotante{
  backdrop-filter: saturate(200%) blur(20px);
  background-color: rgba($color: white, $alpha: 0.20);
  box-shadow: darken($color: white, $amount: 10%);
}


.bg-dinamico {
  -webkit-animation: colorchange 10s infinite alternate;
  animation: colorchange 10s infinite alternate;
}



@-webkit-keyframes colorchange {
  0% {
    
    background-color: $azul;
  }
  
  25% {
    
    background-color: $rojo;
  }
  
  50% {
    
    background-color: $verde;
  }
  
  75% {
    
    background-color: $amarillo;
  }
  
  100% {
    
    background-color: $rosa;
  }

}

@keyframes colorchange {
  0% {
    
    background-color: $azul;
  }
  
  25% {
    
    background-color: $rojo;
  }
  
  50% {
    
    background-color: $verde;
  }
  
  75% {
    
    background-color: $amarillo;
  }
  
  100% {
    
    background-color: $rosa;
  }
  
}



.curva{
  border-radius: 15px;
}

.curva-hero{
  border-radius: 0px 15px 15px 0px;
}

.legible {
  text-shadow: 0 1px 2px rgba($color: black, $alpha: 0.1);
}

.sombra{
  box-shadow: 5px 10px 20px rgba($color: $gris, $alpha: 0.25);
}



.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex!important;
  align-items: center!important;
}

.vertical-center-section {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 50vh; /* These two lines are counted as one :-)       */
  display: flex!important;
  align-items: center!important;
}


.linea {
  background-image: linear-gradient(to right, $secundario, $secundario);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 0% 0.1rem;
  transition: background-size 1s ease;
}


.linea:hover {
  background-image: linear-gradient(to right, $secundario, $secundario);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 40% 0.1rem;
  transition: background-size 1s ease;
}



.subrayado {
  background-image: linear-gradient(to right, $secundario, $secundario);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 80% 0.2rem;
  transition: background-size 1s ease;
}

.subrayado-izquierda {
  background-image: linear-gradient(to right, $secundario, $secundario);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 80% 0.2rem;
  transition: background-size 1s ease;
}

.subrayado-derecha {
  background-image: linear-gradient(to right, $secundario, $secundario);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 70% 0.2rem;
  transition: background-size 1s ease;
}


.footer{
  background-color: $primario;
  padding: 1rem 0;
}

.textoFooter{
  color: $texto;
}



.navbar-dark .navbar-toggler-icon {
  background-image: url("~@/assets/menu.png")!important;
  border-color: transparent!important;
  border: none!important;
}

.navbar-toggler:focus {
  border-color: transparent!important;
  border: none!important;
  box-shadow: transparent!important;
}


.navbar-dark .navbar-toggler {
  color: transparent!important;
  border-color: transparent!important;
  border: none!important;
}



@media only screen and (max-width: 768px) {
  .textoFooter{
    display: none;
  }

    .subrayado-derecha {
      background-position: bottom center;
     

    }
    
    .subrayado-izquierda {
      background-position: bottom center;
   
    }


} 


ul {
  list-style: none;
}
ul li.sensum::before {
  content: "";
  background-image: url("~@/assets/logo.png")!important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.1rem;
  
}

li{
  font-size: 16px!important;
}




.carousel-caption{
  background-color: rgba($color: $negro, $alpha: .6);
  box-shadow: darken($color: $negro, $amount: 10%);
  border-radius: 15px;
  h3{
    font-size: 1.5rem;
  }
}


@media only screen and (max-width: 768px) {
  .carousel-caption{
    h3{
      font-size: 1rem;
    }
  }

} 



//---------------------------------------
// Modal Sección
//----------


.modal-route {
  width: 30%;
  height: auto;
  position: fixed;
  z-index: 99999;
  top: 10%;
  bottom: 20%;
  left: 35%;
  background: rgba($color: #000000, $alpha: 0.5);
  transition: all 0.3s ease-in-out;
 }

 .modal-borde{
   border: 5px solid $secundario;
 }

 .titulo-modal {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  width: 100%;
  padding: 1rem 0;
  color: $secundario;
}

// html, body {
//   max-width: 100%;
//   overflow-x: hidden;
// }

.imagen-modal{
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.imagen-card{
  width: 100%;
  height: 450px;
  margin: 0 auto;
}

@media only screen and (max-width: 1920px) {

  .modal-route {
    width: 50%;
    top: 5%;
    bottom: 5%;
    left: 25%;
   }

   .imagen-modal{
    height: 650px;
  }
  
}


@media only screen and (max-width: 992px) {

  .modal-route {
    width: 64%;
    top: 10%;
    bottom: 10%;
    left: 18%;
   }
}

@media only screen and (max-width: 576px) {

  .modal-route {
    width: 90%;
    top: 15%;
    bottom: 15%;
    left: 5%;
   }
   .imagen-modal{
    height: auto; 
  }
}


.tarjeta-propiedad:hover{
  cursor: pointer;
}



